email-automation-workflow.json
{
  "name": "AI Email Classifier & Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [128, -240],
      "id": "2b53ed16-8b13-48bb-8db0-2d27026175f8",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "internship",
              "description": "when the email is about a job opportunity, internship offer, interview invitation, application update, hiring, recruitment, or career opportunity"
            },
            {
              "category": "freelance",
              "description": "when the email is about a project inquiry, client request, freelance work, Fiverr order, or someone asking for AI, ML, or development services"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [336, -240],
      "id": "5b18f0df-36c7-448c-892b-faa9cf53e596",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [336, -32],
      "id": "78fec26e-455c-45d4-b44a-daeae8dc50c9",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_GROQ_CREDENTIAL_ID",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a professional reply to this internship email: {{ $json.snippet }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [688, -336],
      "id": "a0cf4fa0-9a97-49ec-a5d9-18f0c9ae1cd4",
      "name": "HTTP Request - Internship Reply",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "YOUR_HEADERS_AUTH_CREDENTIAL_ID",
          "name": "Multiple Headers Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a professional reply to this freelance inquiry email. Express interest and ask for project details and budget.\\n\\nEmail: {{ $json.snippet }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [672, -128],
      "id": "62ab5e12-d16e-4a1b-b4c3-da6774860999",
      "name": "HTTP Request - Freelance Reply",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "YOUR_HEADERS_AUTH_CREDENTIAL_ID",
          "name": "Multiple Headers Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "HTTP Request - Internship Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Freelance Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
